{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'landing\css\style_l.css' %}" />
<link rel="stylesheet" href="{% static 'landing\css\style_f.css' %}" />
{% endblock %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<main class="registration">
  <h1 class="registration__title">Регистрация</h1>

  <div class="registration__form">
    <div class="social-login">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/0a0629ee19ccdb0d72fd24e245780e16a4bf262e"
        alt="Social Login Option 1"
        class="social-login__icon"
      />
      <input type="text" placeholder="Nickname" class="registration__field">
    </div>
    <div class="social-login">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/9131ab6aabbd8801b3e74668ebdc5b8afe36307e"
        alt="Social Login Option 2"
        class="social-login__icon"
      />
      <input type="date" class="registration__field">
    </div>
    <div class="social-login">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/827f73382d6cb744582ed9a97bf4677c424ec199"
        alt="Social Login Option 3"
        class="social-login__icon"
      />
      <input type="text" placeholder="Страна" class="registration__field">
    </div>
    <button class="registration__submit" onclick="window.location.href='{% url 'mail' %}'">Завершить</button>
  </div>
</main>
{% endblock %}