.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 100px 140px;
}

.registration__title {
  color: #5863f8;
  font-family: "Druk Text Wide Cyr", sans-serif;
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 100px;
}

.registration__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 470px;
}

.social-login {
  display: flex;
  align-items: center;
  background-color: #5863f8;
  border-radius: 25px;
  height: 100px;
  padding: 0 20px;
  gap: 15px; /* Добавляем расстояние между иконкой и инпутом */
}

.social-login__icon {
  width: 45px;
  height: 45px;
}

.registration__field {
  flex: 1; /* Инпут занимает оставшееся пространство */
  height: 60px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 24px;
  padding: 0 15px;
}

.registration__field::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.registration__field[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
  cursor: pointer;
}

.registration__submit {
  width: 100%;
  height: 80px;
  background-color: #f24236;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 32px;
  cursor: pointer;
}